*,
*::after,
*::before {
  box-sizing: border-box;
}

.page {
  font-size: 14px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: #f6f2f2;
  min-height: 100vh;
  width: 100%;
  max-width: 1580px;
}

.section {
  background: #dfdada;
}

.header {
  width: 100%;
  max-width: 1250px;
  min-height: 89px;
  background: rgba(0, 0, 0, 1);
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.navigation {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  flex-wrap: wrap;
}

.item {
  padding: 30px;
}

.item:hover {
  background: rgba(255, 63, 64, 1);
}

.link {
  color: rgba(224, 224, 224, 1);
}

@media (max-width: 580px) {
  .container {
    flex-direction: column;
  }
}

/*Тело 1*/

.main {
  flex-grow: 1;
}

.heiding {
  position: relative;
  box-sizing: border-box;
  font-family: OpenSans;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 1.5px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  margin-top: 102px;
  margin-left: 164px;
}

.box_text {

}

.text {
  width: 100%;
  max-width: 545px;
  font-family: OpenSans;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  line-height: 28px;
  margin-top: 10px;
  margin-left: 164px;
  padding: 0;
}

.red_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 227px;
  height: 55px;
  background: rgba(255, 45, 45, 1);
  border-radius: 6px;
  margin-left: 164px;
  margin-top: 64px;
}

.text_button {
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-family: OpenSans;
  font-size: 18px;
  line-height: 34px;
  text-decoration: none;
}

.img_box {
  text-align: right;
  margin-right: 164px;
}

.img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  max-width: 551px;
  min-height: 356px;
}