@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format('woff2');
}

font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url("../fonts/OpenSans-Italic.woff2") format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url("../fonts/OpenSans-Medium.woff2") format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff2") format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-stretch: 100%;
  font-display: swap;
  src: url("../fonts/OpenSans-ExtraBold.woff2") format('woff2');
}


*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page {
  font-family: "Open Sans";
  font-size: 14px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.page__header {
  width: 100%;
  height: auto;
  height: 688px;
  margin: 0 auto;
  padding-top: 26px;
  background: rgba(246, 242, 242, 1);
}

.header {
  width: 100%;
  max-width: 1250px;
  min-height: 89px;
  background: rgba(0, 0, 0, 1);
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.navigation {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  text-transform: uppercase;
  flex-wrap: wrap;
  padding: 0;
}

.item {
  padding: 30px;
}

.item:hover {
  background: rgba(255, 63, 64, 1);
  text-decoration-line: none;
  color: rgba(0, 0, 0, 1);
}

.link {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(224, 224, 224, 1);
  text-decoration: none;
}

.menu {
  position: absolute;
  left: 0;
  top: 0;
  background: #2d2d2d;
  padding: 100px 20px 20px 20px;
  display: block;
}

.menu {
  display: block;
}

.link {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(224, 224, 224, 1);
  display: block;
  padding: 10px 0;
}

.popup-menu__button {
  z-index: 1;
  display: none;
  padding: 0;
  width: 50px;
  height: 50px;
  background-image: url(..//img/hamburger_icon_145979.svg);
  background-repeat: no-repeat;
  background-color: #f8982b;
  background-size: 100% 100%;
}

.burger {
  background-color: #f8982b;
}


@media screen and (max-width: 600px) {
  .header {
    justify-content: flex-start;
    padding-left: 12px;
  }

  .popup-menu__button {
    display: block;
  }

  .menu {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

.popup-menu {
  position: relative;
  display: flex;
  align-self: center;
  justify-content: center;
}

.popup-menu__list {
  visibility: visible;
  position: absolute;
  bottom: 0;
  transform: translate(100%);
  z-index: -1;
  max-width: 140px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #000000;
  transition: visibility, transform 1s, 0.5s ease-in-out;
}

@media (max-width: 600px) {
  .popup-menu__list {
    visibility: hidden;
  }
}

.hide-popup {
  transform: translate(-50%);
  z-index: -1;
  visibility: hidden;
}

.popup-menu__item {
  display: flex;
  align-items: stretch;
  justify-content: center;
  min-height: 90px;
}

.popup-menu__item:hover {
  background-color: #ff3b3b;
}

.popup-menu__link {
  display: flex;
  align-items: center;
  padding: 0 30px;
  color: #e0e0e0;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 580px) {
  .menu {
    justify-content: space-around;
    flex-direction: column;
  }
}

.pge__content {
  flex-grow: 1;
}

.section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  min-height: 688px;
  max-width: 1248px;
  margin: 0 auto;
}

.intro__content {
  width: 100%;
  max-width: 620px;
  margin-top: 102px;
  box-sizing: border-box;
}

.intro__title {
  position: relative;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 60px;
  line-height: 72px;
  font-weight: 900;
  letter-spacing: 1.5px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  overflow-wrap: break-word;
}

.span {
  letter-spacing: 6px;
}

.intro__text {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  line-height: 28px;
  padding-top: 30px;
  max-width: 546px;
}

.button__red {
  display: block;
  width: 227px;
  height: 55px;
  background: rgba(255, 45, 45, 1);
  border-radius: 6px;
  margin-top: 64px;
  text-align: center;
  line-height: 55px;
}

.text__button {
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

.img__box {
  width: 100%;
  height: 100%;
  max-width: 551px;
  max-height: 367px;
  margin-top: 102px;
  box-shadow: -2.200000047683716px -13.800000190734863px 73px 0px rgba(0, 0, 0, 0.29);

}

.img {
  width: 100%;
  box-sizing: border-box;
  max-width: 551px;
  height: auto;
  filter: grayscale(1);
}

.img:hover {
  filter: grayscale(0.5);
}


@media (max-width: 700px) {
  .intro__content {
    margin-top: 40px;
  }

  .intro__title {
    font-size: 36px;
    text-align: center;
  }

  .span {
    padding-left: 20px;
  }

  .intro__text {
    text-align: center;
    font-size: 14px;
  }

  .img__box {
    margin-top: 60px;
    margin-left: 16px;
  }


  .button__red {
    margin: 0 auto;
    margin-top: 50px;
  }
}

@media (max-width: 400px) {
  .intro__title {
    font-size: 26px;
    line-height: 28px;
    text-align: center;
  }

  .intro__text {
    text-align: center;
    font-size: 12px;
    line-height: 22px;
    padding-top: 20px;
  }

  .button__red {
    margin-top: 24px;
  }

  .link {
    line-height: 18px;
  }

}



/* Блок 2 */

.service {
  padding-top: 105px;
  padding-bottom: 52px;
  border-bottom: 2px solid rgba(236, 236, 236, 1);
}

.service__content {
  flex: 1 1 502px;
  width: 100%;
  max-width: 502px;
  margin-right: 50px;
}

.service__title {
  position: relative;
  width: 100%;
  max-width: 524px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 42px;
  line-height: 55px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 1);
  overflow-wrap: break-word;
}

.service__text {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 28px;
  max-width: 540px;
  margin-top: 50px;
  color: #000000;
}

.text__button_color {
  background: rgba(0, 0, 0, 0.0001);
  border: 2px solid rgba(255, 0, 0, 1);
  color: rgba(255, 45, 45, 1);
}

.service__block {
  flex: 1 1 618px;
  display: flex;
  flex-wrap: wrap;
}

.description {
  width: 100%;
  max-width: 300px;
  margin: 20px;
  margin-bottom: 50px;
}

.description__title {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 24px;
  letter-spacing: 0.28px;
  margin: 0;
  margin-bottom: 13px;
  color: #000000;
}

.description__title_management::before {
  display: block;
  content: "";
  width: 40px;
  height: 42px;
  margin-bottom: 40px;
  background: url(../img/disk.svg);
}

.description__title_desing::before {
  display: block;
  content: "";
  width: 36px;
  height: 38px;
  margin-bottom: 40px;
  background: url(../img/pen.svg);
}

.description__title_logo::before {
  display: block;
  content: "";
  width: 40px;
  height: 34px;
  margin-bottom: 40px;
  background: url(../img/diamond.svg);
}

.description__title_car::before {
  display: block;
  content: "";
  width: 40px;
  height: 34px;
  margin-bottom: 40px;
  background: url(../img/car.svg);
}

.description__text {
  display: block;
  max-width: 288px;
  margin: 0;
  font-size: 16px;
  line-height: 28px;
}

@media (max-width: 1190px) {
  .service__block {
    margin-top: 36px;
  }
}

@media (max-width:700px) {
  .service__title {
    font-size: 20px;
    text-align: center;
  }

  .service__text {
    text-align: center;
  }

  .service__block {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .service__content {
    margin: 0 auto;
  }

  .description__title_management::before {
    margin: 0 auto;
    margin-bottom: 8px;
  }

  .description__title_car::before {
    margin: 0 auto;
    margin-bottom: 8px;
  }

  .description__title_desing::before {
    margin: 0 auto;
    margin-bottom: 8px;
  }

  .description__title_logo::before {
    margin: 0 auto;
    margin-bottom: 8px;
  }

  .description__title {
    text-align: center;
  }

  .description__text {
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .service__title {
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    padding-left: 20px;
  }

  .service__text {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    margin-top: 26px;
  }
}

/*Блок 3 */

.products {
  padding-top: 184px;
  padding-bottom: 52px;
}

.products__content {
  width: 100%;
  text-align: center;
  margin-bottom: 66px;
}

.products__title {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 42px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.products__text {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 28px;
  width: 100%;
  max-width: 536px;
  margin: 0 auto;
  margin-top: 24px;
  text-align: center;
}

.products__line {
  background: rgba(255, 45, 45, 1);
  width: 134px;
  height: 2px;
  margin: 0 auto;
  margin-top: 34px;
  border: 0;
}

.products__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.products__item {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 24px;
  padding: 30px;
  text-transform: uppercase;
}

.products__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.products__link_active {
  color: rgba(255, 45, 45, 1);
}

.products__link_active:active {
  color: rgba(255, 45, 45, 1);
}

.products__link:hover {
  color: rgba(255, 45, 45, 1);
}

.products__container {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.products__photo {
  width: 100%;
  height: 290px;
  transition: 1s;
  object-fit: cover;
}

.products__photo:hover {
  cursor: pointer;
  transform: scale(1.2);
}


@media (max-width: 1150px) {
  .products__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .products__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  .products__photo {
    height: 280px;
  }
}

@media (max-width: 600px) {
  .products__menu {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .products__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
  }
}

@media (max-width: 400px) {
  .products__text {
    text-align: center;
    line-height: 28px;
    padding: 0 8px;
  }
}

/* Блок 4 */

/*:root {
  --color-cyan: red;
}*/

.section__team {
  padding-top: 180px;
  padding-bottom: 60px;
}

.team__title {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 700px;
  font-size: 42px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 1);
  text-align: left;
  /*color: var(--color-cyan);*/
}

.team__text {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 28px;
  max-width: 480px;
  margin-top: 34px;
  color: rgba(0, 0, 0, 1);
}

.products__line_team {
  margin-left: 0;
}

.team_colleagues {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  margin-top: 64px;
  min-height: auto;
}

.team__older__photo {
  width: 100%;
  height: 100%;
  width: 322px;
  height: 462px;
  flex-shrink: 0;
  margin-right: 66px;
  grid-column: 1/ 2;
  grid-row: 1/ 3;
  align-self: start;
}

.team__main__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@supports (display: grid) and (display: contents) {
  .team_colleagues {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }

  .team__main__content {
    display: contents;
  }
}

.team__main__info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-between;
  width: 100%;
  max-width: 660px;
  grid-column: 2/3;
  grid-row: 1/2;
}

.team__older__name {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.team__older__text {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  max-width: 636px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  padding-bottom: 10px;
  color: rgba(0, 0, 0, 1);
}


.team__link {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  margin-right: 30px;
}

.team__link:hover {
  text-decoration: underline;
}

.team__office {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  grid-column: 2 / 3;
  grid-row: 2/ 3;
}

.team__staff {
  position: relative;
  margin-top: 18px;
}

.team__staff:not(:last-child) {
  margin-right: 18px;
}

.staff__name {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 1);
  position: absolute;
  bottom: 0;
  height: 36px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 188px;
  opacity: 0.5;
}

.team__staff:hover>.staff__name {
  visibility: visible;
}

.staff__photo {
  display: block;
  width: 100%;
  width: 190px;
  height: 216px;
}


@media (max-width: 600px) {
  .content__team {
    margin: 0 auto;
  }

  .team__network {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 400px) {
  .team__network {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 30px;
  }

  .team__main__info {
    text-align: center;
    font-size: 14px;
  }

  .products__line_team {
    margin: 6px auto;
  }

  .team_colleagues {
    display: flex;
    justify-content: center;
  }

  .team__older__photo {
    margin: 0 auto;
  }

  .team__older__name {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .team__office {
    flex-direction: column;
    align-items: center;
  }

  .section__team {
    text-align: center;
  }

  .team__title {
    text-align: center;
  }
}

@media (max-width: 750px) {
  .team__network {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 30px;
  }

  .team_colleagues {
    display: flex;
    justify-content: center;
  }
}

/*Блок 5 */

.reporting {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: block;
  padding-top: 114px;
  padding-bottom: 126px;
  min-height: 516px;
  background: #000000;
}

.reporting__content {
  max-width: 1130px;
  margin-top: 156px;
  overflow-wrap: break-word;
  text-align: center;
  margin: auto;
}

.reporting__title {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 32px;
  color: rgba(255, 255, 255, 1);
}

.reporting__text {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
  padding-top: 16px;
}

.reporting__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 56px;
}

.reporting__input {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 19px;
  padding-left: 38px;
  width: 524px;
  height: 82px;
  border: 0;
  border-radius: 6px;
  background: #ffffff;
  color: rgba(44, 44, 44, 1);

}

.reporting__button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  border-radius: 6px;
  width: 218px;
  height: 82px;
  border: 0;
  background: #FF2d2d;
  color: rgba(255, 255, 255, 1);
}

.reporting__button:hover {
  cursor: pointer;
}

@media (max-width: 980px) {
  .reporting__title {
    font-size: 38px;
  }
}

@media (max-width: 820px) {
  .reporting__title {
    font-size: 30px;
  }
}

@media (max-width: 750px) {
  .reporting__input {
    margin: 14px;
  }
}

@media (max-width: 460px) {
  .reporting__title {
    font-size: 22px;
  }
}

.get {
  width: 100%;
  padding-top: 104px;
  padding-bottom: 107px;
}

.get__content {
  max-width: 752px;
}

.get__title,
.get__text {
  max-width: 752px;
}

.bond-line {
  width: 134px;
  height: 5px;
  margin-top: 58px;
  border: 0;
  margin-left: 0;
  background: #FF2d2d;
}

.get__get-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 74px;
}

.get__get-body::before {
  content: '';
  display: inline-block;
  flex-grow: 1;
}

.get__get-body::after {
  content: '';
  display: inline-block;
  flex-grow: 1;
}

.get__form {
  width: 755px;
  flex-grow: 0;
  flex-shrink: 0;
}

.get__input {
  margin-top: 20px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  box-sizing: border-box;
  width: 340px;
  height: 69px;
  border-radius: 6px;
  border: 0;
  background: rgba(246, 242, 242, 1);
  color: rgba(0, 0, 0, 1);
  padding-left: 50px;
  padding-right: 50px;
}

.get__field {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 734px;
  height: 252px;
  padding-top: 34px;
  margin-top: 44px;
  resize: none;
}

.get__mail {
  margin-left: 52px;
}

.get__button {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  margin-top: 44px;
  width: 100%;
  max-width: 734px;
  height: 76px;
  border: 0;
  border-radius: 6px;
  background: #ff3b3b;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  cursor: pointer;
}

.get__get-contacts {
  width: 580px;
  height: 485px;
  padding: 20px;
  margin-top: 22px;
  margin-left: 38px;
  background: #2d2d2d;
  flex-shrink: 0;
  flex-grow: 0;
}

.get__info {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  padding-top: 142px;
  padding-left: 82px;
  color: rgba(255, 255, 255, 1);
}

.address {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
  padding-top: 30px;
  padding-left: 82px;
}

@media (max-width: 1250px) {

  .get__get-body::before,
  .get__get-body::after {
    content: none;
  }

  .get__form {
    width: 100%;
    max-width: 750px;
  }

  .get__get-contacts {
    width: 100%;
    max-width: 500px;
    flex-shrink: 1;
  }
}

@media (max-width: 1024px) {
  .get__get-body {
    flex-wrap: wrap;
  }

  .get__get-contacts {
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .bond-line {
    margin: 0 auto;
  }

  .get__text {
    text-align: center;
    padding: 6px;
    margin-bottom: 10px;
  }

  .get__mail,
  .get__name {
    margin-left: 30px;
  }

  .get__get-contacts {
    margin: 0 auto;
    margin-top: 40px;
  }
}



.footer {
  width: 100%;
  max-width: 1586px;
  height: 113px;
  margin: 0 auto;
  background: rgba(49, 48, 48, 1);
}

.social-text {
  color: rgba(184, 184, 184, 1);
  padding-top: 53px;
  padding-left: 172px;
}

.social {
  padding-top: 48px;
  padding-right: 168px;
}

.footer__link {
  display: inline-block;
  width: 33px;
  height: 33px;
  text-decoration: none;
  margin: 0 18px;
}

@media (max-width: 400px) {
  .social-text {
    padding-left: 60px;
  }

  .social {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 8px;
  }
}

/*.social a {
  text-align: center;
  width: 48px;
  height: 48px;
  float: left;
  box-shadow: 0 2px 4px 
rgba(0,0,0,0.15), inset 0 0 50px 
rgba(0,0,0,0.1);
  border-radius: 24px;
  margin: 0 10px 10px 0;
  padding: 6px;
  color: 
#000;
transition: 3s;
}
.telegram a:hover { background: 
#00acee; color: 
#fff;
}

.footer__icon:hover {
  transform: scale(1,2s);
}*/