@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format('woff2');
}

/*@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url("../fonts/OpenSans-Italic.woff2") format('woff2');
}*/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url("../fonts/OpenSans-Medium.woff2") format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff2") format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-stretch: 100%;
  font-display: swap;
  src: url("../fonts/OpenSans-ExtraBold.woff2") format('woff2');
}


*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page {
  font-family: "Open Sans";
  font-size: 14px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.page-header {
  width: 100%;
  height: auto;
  max-width: 1579px;
  max-height: 688px;
  margin: 0 auto;
  padding-top: 26px;
  background: rgba(246, 242, 242, 1);
}

.header {
  width: 100%;
  max-width: 1250px;
  min-height: 89px;
  background: rgba(0, 0, 0, 1);
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.navigation {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  text-transform: uppercase;
  flex-wrap: wrap;
  padding: 0;
}

.item {
  padding: 30px;
}

.item:hover {
  background: rgba(255, 63, 64, 1);
  text-decoration-line: none;
  color: rgba(0, 0, 0, 1);
}

.link {
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 24px;
  color: rgba(224, 224, 224, 1);
  text-decoration: none;
}

@media (max-width: 580px) {
  .menu {
    justify-content: space-around;
    flex-direction: column;
  }
}

.pge_content {
  flex-grow: 1;
}

/*.intro {
  padding-top: 102px;
  padding-bottom: 94px;
}*/

.section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  min-height: 688px;
  max-width: 1248px;
  margin: 0 auto;
}

.intro_content {
  width: 100%;
  max-width: 620px;
  margin-top: 102px;
  box-sizing: border-box;
}

.intro_title {
  position: relative;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 60px;
  line-height: 72px;
  font-weight: 900;
  letter-spacing: 1.5px;
  padding-right: 82px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.span {
  letter-spacing: 6px;
}

.intro_text {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  line-height: 28px;
  padding-top: 30px;
  max-width: 546px;
}

.button-red {
  display: block;
  width: 227px;
  height: 55px;
  background: rgba(255, 45, 45, 1);
  border-radius: 6px;
  margin-top: 64px;
  text-align: center;
  line-height: 55px;
}

.text-button {
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  text-decoration: none;
}

.img_box {
  width: 100%;
  height: 100%;
  max-width: 551px;
  max-height: 372px;
  margin-top: 102px;
  box-shadow: 12px 15px 14px rgba(0, 0, 0, 1);
}

.img {
  width: 100%;
  box-sizing: border-box;
  max-width: 551px;
  height: auto;
  padding-top: 5px;
  opacity: 0.5;
}


/*@media (max-width: 548px) {
  .content {
    margin-top: 40px;
  }
  .intro_title {
    font-size: 36px;
    text-align: end;
  }

  .span {
    padding-left: 20px;
  }

  .intro_text {
    text-align: center;
    font-size: 14px;
  }

  .img_box {
    margin-top: 60px;
  }

  .img {
    padding-left: 10px;
  }

  .red_button {
    margin: 0 auto;
    margin-top: 50px;
  }
}*/




/* Блок 2 */

.service {
  padding-top: 105px;
  padding-bottom: 52px;
  border-bottom: 2px solid rgba(236, 236, 236, 1);
}

.service_content {
  flex: 1 1 502px;
  max-width: 502px;
  margin-right: 50px;
}

.service_title {
  position: relative;
  width: 524px;
  font-family: 'OpenSans';
  font-size: 42px;
  line-height: 55px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 1);
}

.service_text {
  font-family: 'OpenSans';
  font-size: 16px;
  line-height: 28px;
  max-width: 540px;
  margin-top: 50px;
  color: #000000;
}

.button-red_white {
  font-size: 18px;
  background:rgba(236, 236, 236, 1);
  border: 2px solid rgba(255, 0, 0, 1);
}

.text-button_color {
  color: rgba(255, 45, 45, 1);
}

.service_block {
  flex: 1 1 618px;
  display: flex;
  flex-wrap: wrap;
}

.description {
  flex: 1 1 288px;
  margin-bottom: 50px;
  width: 288px;
}

.description__title {
  font-family: 'Opensans';
  font-size: 24px;
  letter-spacing: 0.28px;
  margin: 0;
  margin-bottom: 13px;
  color: #000000;
}

.description__title::before {
  display: block;
  width: 44px;
  height: 36px;
  margin-bottom: 40px;
}

.description_text {
  display: block;
  max-width: 300px;
  margin: 0;
  font-size: 16px;
  line-height: 28px;

}

.description__title_management::before {
  content: url(../img/disk.svg);
}

.description__title_desing::before {
content: url(../img/pen.svg);
}

.description__title_logo::before {
content: url(../img/diamond.svg);
}
.description__title_car::before {
content: url(../img/car.svg);
}